.boddy {
  margin: 0;
  padding: 0;
  background-color: #c2bdbd;
}

.fade-box {
  height: 100vh;
  width: 100%;
  background-image: url(/images/v-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 33s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    background-image: url(/images/v-2.jpg);
    max-width: 100%;
  }
  20% {
    background-image: url(/images/v-3.jpg);
    max-width: 100%;
  }
  40% {
    background-image: url(/images/v-4.jpg);
    max-width: 100%;
  }
  60% {
    background-image: url(/images/v-5.jpg);
    max-width: 100%;
  }
  80% {
    background-image: url(/images/v-6.jpg);
    max-width: 100%;
  }
  100% {
    background-image: url(/images/v-1.jpg);
    max-width: 100%;
  }
}

.imgs {
  position: absolute;
  top: 100vh;
}
.section-text {
  background-color: #ffffff;
  width: 900px;
  height: 900px;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.imagebox {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.logs {
  display: flex;
  column-gap: 19px;
}
.logs {
  display: flex;
  column-gap: 10px;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
}

.last-section {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-1 {
  max-width: 100%;
  background-color: black;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  color: orange;
}
.active {
  color: red !important;
}
.long-image {
  max-width: 20%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .image-fade {
    width: 100%;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image-fade {
    width: 100%;
    height: auto;
  }
}
