.boddy {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.fade-box {
  height: 100vh;
  width: 100%;
  background-image: url(/images/v-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 33s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    background-image: url(/images/v-2.jpg);
  }
  20% {
    background-image: url(/images/v-3.jpg);
  }
  40% {
    background-image: url(/images/v-4.jpg);
  }
  60% {
    background-image: url(/images/v-5.jpg);
  }
  80% {
    background-image: url(/images/v-6.jpg);
  }
  100% {
    background-image: url(/images/v-1.jpg);
  }
}

.imgs {
  position: absolute;
  top: 100vh;
}
.section-text {
  background-color: red;
  width: 900px;
  height: 900px;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.imagebox {
  width: 100%;
  height: auto;
}
.logs {
  display: flex;
  column-gap: 19px;
}
